<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Walmart Dashboard!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">

    <!-- Favicon -->
    <link rel="shortcut icon" href="#" >
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="">
    <!-- Leaflet Plugin Cluster -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
    <!-- Mapbox -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.1.0/mapbox-gl.css" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/vendor/aos/aos.css" rel="stylesheet">
</head>

<body>
    <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="static/Logo.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="#hero">Walmart</a></h1>
      </div>

      <nav class="nav-menu">
        <ul>
          <li><a href="#hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#weekly"><i class="bx bx-user"></i> <span>Weekly Sales</span></a></li>
          <li><a href="#stock"><i class="bx bx-file-blank"></i> <span>Stock</span></a></li>
          <li><a href="#share"><i class="bx bx-book-content"></i> Market Share</a></li>
          <li><a href="#location"><i class="bx bx-server"></i> Store Location</a></li>
          <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->

  <!-- ======= Home Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Walmart<img src = "{{ url_for('static', filename='Logo.png') }}" alt ="Walmart Logo" style ="width:80px;margin-bottom:15px;"></h1>
      <p><span class="typed" data-typed-items="Sales Perspective"></span></p>
      <h5 style="color:white;">Created By: Hanieh Babaee, May Lacdao, Elizabeth Salas Martinez</h5>
      <h5 style="color:white;">            Ronald Clarke, Rebecca Pham</h5>
    </div>
  </section><!-- End Home -->

  <main id="main">

    <!-- ======= Weekly Sales Section ======= -->
    <section id="weekly" class="about">
        <div class = "container-fluid">
            <div class = "market-banner">
                <h1 style = "color:white;">Weekly Sales <img src = "{{ url_for('static', filename='Logo.png') }}" alt ="Walmart Logo" id = "logo"></h1>
            </div>
        </div>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="well">
                <div>
                <h5>Store ID No.:</h5>
                  <select id="selDataset1"></select>
              </div>
              <div class="button">
                <button type="button">Reset Chart</button>
              </div>
            </div>
          </div>
          <div class="col-md-2" style = "text-align:center;">
            <h4>Store Selected:</h4>
            <div class="well">						
              <h4 class="counter">All Stores</h3>	
            </div>
          </div>
        </div>
        <div class="chart">
        </div>

      </div>
      <hr>
    </section><!-- End About Section -->

    <!-- ======= Stock Section ======= -->
    <section id="stock" class="resume">
        <div class = "container-fluid">
            <div class = "market-banner">
                <h1 style = "color:white;">Stock<img src = "{{ url_for('static', filename='Logo.png') }}" alt ="Walmart Logo" id = "logo"></h1>
            </div>
        </div>

      <div class="container">
        <div class="row">
          <div class = "col" style = "width:100%;">
            <div id="plot"></div>
          </div>
        </div>
      </div>
      <hr>
    </section><!-- End Stock Section -->

    <!-- ======= Market Share Section ======= -->
    <section id="share" class="portfolio">
    <div class = "container-fluid">
        <div class = "market-banner">
            <h1 style = "color:white;">Market Share <img src = "{{ url_for('static', filename='Logo.png') }}" alt ="Walmart Logo" id = "logo"></h1>
            <h5 style = "color:white;">Metro & Micro Region</h5>
        </div>
    </div>
    <div class = "container " style = "text-align:center;">
        <div class = "row">
            <div class = "col-l-4">
                <div>
                    <h5 id = "state-filter">State Filter</h5>
                    <select id="selDataset"></select>
                    <br><br>
                </div>
                <div id ="table-max" class="table-responsive">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr style = "color:white;background-color:#0279E2;">
                                <th scope = "col">City</th>
                                <th scope = "col">State</th>
                                <th scope = "col">Population</th>
                                <th scope = "col">Market Share (%)</th>
                            </tr>
                        </thead>
                        <tbody style = "overflow-y:auto;"></tbody>
                    </table>
                </div>
            </div>
            <div class = "col-l-8" style = "text-align:right;">
                <div id = "market-share"></div>
            </div>
        <div class = "row">
            <div class = "col">

            </div>
        </div>
        </div>
    </div>  
    <hr>
    </section><!-- End Portfolio Section -->

    <!-- ======= Store Location Section ======= -->
    <section id="location" class="services">
        <div class = "container-fluid">
            <div class = "market-banner">
                <h1 style = "color:white;">Store Location<img src = "{{ url_for('static', filename='Logo.png') }}" alt ="Walmart Logo" id = "logo"></h1>
            </div>
        </div>
        <br><br>
      <div class="container">
        <div class="row">
          <div class = "col" style = "width:100%;">
            <div id="map"></div>
          </div>
        </div>
      </div>
      <hr>
    </section><!-- End Services Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>iPortfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/" style="color:white;">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        
    <!-- Leaflet Script -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <!-- Marker Cluster JS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>
    <!-- Vendor JS Files -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="static/vendor/php-email-form/validate.js"></script>
    <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="static/vendor/counterup/counterup.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/venobox/venobox.min.js"></script>
    <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="static/vendor/typed.js/typed.min.js"></script>
    <script src="static/vendor/aos/aos.js"></script>

    
    <!-- Local Scripts -->
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/homepage.js') }}"></script>

    
</body>

</html>