<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Walmart Dashboard!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div style="text-align:center;margin-top:20px;">
        <h1 style = "color:#0279E2;">Market Share <img src = "{{ url_for('static', filename='Logo.jpg') }}" alt ="Walmart Logo" style ="width:40px;"></h1>
        <h5 style = "color:#0279E2;">Metro & Micro Region</h5>
    </div>
    <div class = "container" style = "text-align:center;">
        <div class = "row">
            <div class = "col-l-4">
                <div style = "border-color:#0279E2;border-width:5px;">
                    <h5 style = "color:#0279E2;">State Filter</h5>
                    <select id="selDataset"></select>
                    <br><br>
                </div>
                <div class="table-responsive" style ="text-align:center; max-height:340px">
                    <table class="table table-sm table-striped" style="font-size:12px;width:380px;">
                        <thead>
                            <tr style = "color:white;background-color:#0279E2;">
                                <th scope = "col">City</th>
                                <th scope = "col">State</th>
                                <th scope = "col">Population</th>
                                <th scope = "col">Market Share (%)</th>
                            </tr>
                        </thead>
                        <tbody style = "overflow-y:auto;"></tbody>
                    </table>
                </div>
            </div>
            <div class = "col-l-8" style = "text-align:right;">
                <div id = "market-share" style ="width:100%;"></div>
            </div>
        <div class = "row">
            <div class = "col">

            </div>
        </div>
        </div>
    </div>  

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>