<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Store-Locations</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="#" />
    <!-- D3 -->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <!-- Leaflet CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <!-- Leaflet Script -->
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <!-- Leaflet Plugin Cluster -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css"
    />
    <!-- Leaflet-providers -->
    <script src="/static/js/leaflet-providers.js"></script>
    <!-- Mapbox -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.1.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <!-- Leaflet fullscreen plugin -->
    <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>
    <link
      href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css"
      rel="stylesheet"
    />
    <!-- Local CSS -->
    <link rel="stylesheet" href="/static/css/storelocation.css" />
  </head>
  <body>
    <div class="row">
      <div class="col-12">
        <div id="map">
          <!-- insert map here -->
        </div>
      </div>
    </div>
    <!-- <div class="col-3">
      <span>
        <h1>🛒 Walmart Store Locations</h1>
        <br />
        <p>
          Check our complete list:
          <a href="/api/store" target="_blank">Walmart Stores Across the USA</a>
        </p>
        <label for="exampleDataList" class="form-label">Search</label>
        <input
          class="form-control"
          list="datalistOptions"
          id="exampleDataList"
          placeholder="Type a city..."
        />
        <datalist id="datalistOptions">
          <option value="San Francisco"></option>
          <option value="New York"></option>
          <option value="Seattle"></option>
          <option value="Los Angeles"></option>
          <option value="Chicago"></option>
        </datalist>
      </span>
    </div> -->
    <!-- Bootstrap Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>

    <!-- Marker Cluster JS -->
    <script
      type="text/javascript"
      src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"
    ></script>

    <!-- Local Scripts -->
    <script src="/static/js/config.js"></script>
    <!-- <script src="/static/js/stores.js"></script> -->
    <script src="/static/js/storelocation.js"></script>
    <script src="/static/js/leaflet-providers.js"></script>
  </body>
</html>
